[submodule "crosstool-NG"]
	path = crosstool-NG
	url = git@github.com:IoTAqua/ESP-crosstool-NG.git
	branch = aqua-esp
[submodule "ESP8266_NONOS_SDK"]
	path = ESP8266_NONOS_SDK
	url = git@github.com:espressif/ESP8266_NONOS_SDK.git
